<html>
    <head>

    </head>
    <body>
        <div>
            <h1><FONT face="Times New Roman" style="font-size: 50px; color: blue; margin-left: 600px;">AlphaBot</FONT></h1>
            <p><FONT face="Times New Roman" style="font-size: 25px;">
            AlphaBot è una piattaforma di sviluppo robotica che può essere gestita con Raspberry Pi e Arduino.<br/>
            È composta da una base, sulla quale sono montati motori e ball caster e da una scheda madre dotata di connettori per l'inserimento
            di Arduino e Raspberry Pi, chip driver per motori DC e passo passo, un chip di acquisizione AD a 10 bit che permette a Raspberry Pi
            di utilizzare sensori analogici, rilevatore di ostacoli a infrarossi, fotointerruttori a forcella per misurare la velocità dei motori,
            modulo sensore per inseguimento linea, un regolatore di tensione a 5V, LED di stato, ricevitore IR per controllare il robot tramite
            telecomando IR (incluso), porta batteria per 2 batterie tipo 18650 (non comprese).<br/></FONT></p>
            <img src="../static/img/AlphaBot1.png" width="880" height="700">
            <img src="../static/img/AlphaBot2.png" width="580" height="700">
        </div>
    </body>
</html>