<html>
    <head>
        <link rel="stylesheet" href="../static/css/grafica.css">
        <script src="../static/js/eventi.js"></script>
    </head>
    <body>
        <div id="testa"><h1 style="color:aliceblue" id="titolo">𝐌𝐎𝐕𝐈𝐌𝐄𝐍𝐓𝐈</h1></div>
        <div id="logo"><img src="../static/img/logoAB04.png" width="250" height="200"><a href="AlphaBot.html" target="_blank"><img src="../static/img/AlphaBot.png" width="250" height="200" style="margin-left: 800px;"></a></div>
        <p><FONT face="Times New Roman" style="font-size: 25px;">Cliccare sui pulsanti sottostanti(frecce/stop) per comandare l'AlphaBot</FONT></p>
        <div id="comandi">
            <table id="tblComandi">
                <tr><td></td><td><input type="image" value="value_su" src="../static/img/freccia_in_su.png" width="150" height="150" name="action_su" onclick="su();"></td><td></td><td></td></tr>

                <tr><td><input type="image" value="value_sx" src="../static/img/freccia_sx.png" width="150" height="150" name="action_sx" onclick="sx();"></td><td><input type="image" value="value_stop" src="../static/img/stop.png" width="150" height="150" name="action_stop" onclick="stop();"></td><td><input type="image" value="value_dx" src="../static/img/freccia_dx.png" width="150" height="150" name="action_dx" onclick="dx();"></td><td><font class="CMD" face="Times New Roman" color="blue" style="font-size: 20px;">INSERIRE IL COMANDO DESIDERATO</font><input class="CMD" type="text" name="Comandi"><input type="button" value="ESEGUI COMANDO" style="margin-left: 15px; color: whitesmoke; background-color:blue"></td></tr>

                <tr><td></td><td><input type="image" value="value_giu" src="../static/img/freccia_in_giu.png" width="150" height="150" name="action_giu" onclick="giu();"></td><td></td><td></td></tr>
            </table>  
        </div>
        <div id="livBatty"><FONT face="Times New Roman" style="font-size: 35px; margin-left: 950;">LIVELLO BATTERIE:</FONT></div><br/>
        <div><FONT face="Times New Roman" style="font-size: 25px;">Per visualizzare il lavoro precedentemente svolto, così da comprendere ciò che stiamo facendo, visualizzare il nostro <a href="https://github.com/Nicholas-Becchis/Project_AlphaBot" target="_blank"><img src="../static/img/logoGitHub.png" width="180" height="60"></a></FONT></div>
        <div id="rasp"><a href="https://it.wikipedia.org/wiki/Raspberry_Pi" target="_blank"><img src="../static/img/logoRasp.png" width="250" height="50"></a></div>
    </body>
</html>