#testa{
    padding: 1cm;
    background-color: rgb(3, 6, 201);
    margin: -10;
}

#titolo{text-align: center;}

#logo{
    margin: 0.5cm;
}

#comandi{ 
    background: rgb(232, 243, 247); 
}

#tblComandi{
    margin-left: 100px;
}

.CMD{
    margin-left: 500px;
}

#rasp{
    margin-top: 3cm;
}

