<html>
    <head>
        <title>SEMAFORO</title>
    </head>
    <body>
        <h3>SETTA TEMPO:</h3>
        <form method="post">
            <table border="1">
                <tr><th>COLORE</th><th>TEMPO</th></tr>
                <tr><td>ROSSO</td><td><input type="text" name="tempo_rosso"></td></tr>
                <tr><td>GIALLO</td><td><input type="text" name="tempo_giallo"></td></tr>
                <tr><td>VERDE</td><td><input type="text" name="tempo_verde"></td></tr>
            </table>
            <input type="submit" name="pulsante" value="FERMA SEMAFORO">
            <input type="submit" name="pulsante" value="ATTIVA SEMAFORO">
            <input type="submit" name="pulsante" value="CONFERMA">
        </form>
    </body>
</html>